{{!-- <form class="create-form eaten">
<div class="form-group"> --}}
<li>
	{{burger_name}}
    {{#unless devoured}}
	<button class="change-eaten" data-id="{{id}}" data-neweat="{{devoured}}">
		Devour it!
	</button>
    {{/unless}}
</li>
{{!-- </div>
</form> --}}